﻿body {
    background: #d5d5d5;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
}

#container {
    margin-left:200px;
    width: 1040px;
    border: 2px solid black;
    height: 800px;
}

#left {
    width: 500px;
    height: 500px;
    margin-left: 5px;
    position:absolute;
    left:200px;
    border: 3px solid orange;
}
#right {
    width: 500px;
    height: 500px;
    position:absolute;
    left:705px;
    border: 3px solid orange;
}

.cube {
    /*44px total*/
    width: 40px;
    height: 40px;
    border: 4px solid black;
    position: absolute;
    background: blue;
}
